.pagamento-form {
    display: grid;
    margin: 20px 5vw;
    padding: 10px 20px;
    align-items: center;
    width: 90vw;
    border-radius: 50px;
}

.pagamento:focus, select:focus {
    background-color: var(--salmao);
}

.pagamento:hover {
    background-color: var(--salmao);
}

.fechar:focus, select:focus {
    background-color: var(--salmao);
}

.fechar:hover {
    background-color: var(--salmao);
}

.nome {
    font-size: 5vw; /* Ajusta a fonte para responsividade */
    font-weight: 400;
    color: var(--cor-escura);
    margin-bottom: 10px;
}

.nome-form {
    display: flex;
    flex-direction: column; /* Empilha os elementos em telas menores */
    padding: 10px 0;
    margin-bottom: 20px; 
}

.nome-pagamento, .endereco-pagamento {
    width: 70%; /* Ajusta a largura para telas menores */
    position: relative; /* Remove posição absoluta para flexibilidade */
}

.nome-pagamento:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}  

.endereco-pagamento:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}
.endereco {
    font-size: 4vw; /* Ajusta a fonte para responsividade */
    font-weight: 300;
    color: var(--cor-escura);
    margin-bottom: 10px;
}

input[type="name"] {
    border: 1px solid var(--cor-escura);
    border-radius: 20px;
    height: 30px;
    padding: 0.1em 1em;
    font-family: var(--fonte-principal);
    font-weight: 300;
    font-size: 2.5vw; /* Ajusta a fonte para responsividade */
    color: var(--cor-escura);
    background-color: transparent;
}

.forma {
    border-top: 2px solid var(--cor-escura);
    display: flex;
    justify-content: center;
    font-size: 5vw; /* Ajusta a fonte para responsividade */
    font-weight: 400;
    margin-top: 5px;
    padding: 20px 0;
    color: var(--cor-escura);
}

.forma-pagamento {
    display: flex;
    flex-direction: column; /* Empilha os elementos em telas menores */
    align-items: center;
    font-size: 4vw; /* Ajusta a fonte para responsividade */
    font-weight: 300;
    color: var(--cor-escura);
    padding: 20px 0;
}

.pagamento {
    border: 1px solid var(--cor-escura);
    border-radius: 15px;
    width: 50vw; /* Ajusta a largura para telas menores */
    height: 45px;
    padding: 5px 0;
    text-align: center;
    background-color: transparent;
    font-family: var(--fonte-principal);
    color: var(--cor-escura);
    font-size: 4vw; /* Ajusta a fonte para responsividade */
    font-weight: 300;
}

.pagamento-section {
    border: 2px solid var(--cor-escura);
    border-radius: 30px;
    padding: 20px 10px 30px 10px;
    margin: 30px 5vw; /* Ajusta margens para telas menores */
}

.fechar {
    width: 60vw; /* Ajusta a largura para telas menores */
    border: 1px solid var(--cor-escura);
    font-family: var(--fonte-principal);
    font-size: 5vw; /* Ajusta a fonte para responsividade */
    font-weight: 300;
    padding: 5px 5px;
    color: var(--cor-escura);
    background-color: transparent;
    border-radius: 25px;
    text-decoration: none;
    margin-left: 35%;
    margin-top: 30px;
    margin-bottom: 40px;
}

.fechar-botao {
    color: var(--cor-escura);
    background-color: transparent;
    text-decoration: none;
}

.inferno {
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-align: center;
}

/* Media Queries para telas maiores */
@media (min-width: 768px) {
    .pagamento-form {
        margin: 30px 0px;
        width: 80vw;
        padding-bottom: 10px;
    }

    .nome {
        font-size: 30px;
    }

    .endereco {
        font-size: 25px;
    }

    .input[type="name"] {
        font-size: 15px;
    }

    .forma {
        font-size: 40px;
    }

    .forma-pagamento {
        flex-direction: row;
        font-size: 25px;
        justify-content: space-around;
    }

    .pagamento {
        width: 200px;
        font-size: 30px;
    }

    .pagamento-section {
        margin: 50px 150px;
    }

    .fechar {
        width: 30vw;
        font-size: 40px;
        text-decoration: none;
    }
}

@media (max-width: 1028px) {
    .nome-pagamento, .endereco-pagamento{
        width: 70%;
    }
}
