/* Ajuste para garantir que o conteúdo ocupe a tela toda */
body, html {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* Configuração do rodapé principal */
.rodape {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* Ajustes na estrutura dos elementos internos */
.texto-rodape {
    display: grid;
    width: 400px;
    margin: 40px 40px 30px 48px;
    border-right: 1px solid var(--cor-escura);
}

.img-rodape {
    width: 250px;
}

.escrito-rodape {
    font-size: 20px;
    font-weight: 300;
    margin-top: 30px;
    margin-right: 50px;
    color: var(--cor-escura);
}

.conheca {
    display: grid;
    margin: 40px 20px 30px 48px;
}

.links {
    display: flex;
    align-items: center;
}

.conheca-rodape {
    font-size: 30px;
    color: var(--cor-escura);
    font-weight: 300;
    width: 150px;
}

.botoes {
    display: flex;
    text-align: center;
}

.conheca-links {
    border: 1px solid var(--cor-escura);
    border-radius: 15px;
    width: 200px;
    height: 35px;
    padding: 5px 0;
    align-items: center;
    text-decoration: none;
    margin: 0 50px;
    font-size: 30px;
    color: var(--cor-escura);
    font-weight: 300;
}

.conheca-links:hover {
    background-color: var(--salmao);
}

.texto-links {
    display: flex;
    width: 650px;
    color: var(--cor-escura);
    font-size: 20px;
    font-weight: 300;
    margin-top: 30px;
}

/* Rodapé final */
.rodape-final {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribui o conteúdo */
    color: var(--rosa-claro);
    background-color: var(--cor-escura);
    font-weight: 300;
    font-size: 20px;
    height: 3cm; /* Define altura fixa de 3 centímetros */
    width: 100%;
    position: relative; /* Fica no final do conteúdo */
    bottom: 0;
    padding: 0 20px; /* Opcional: adiciona um pouco de espaço nas laterais */
}

.termos {
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin: 0 auto; /* Centralizado na tela */
}

.direitos {
    margin-right: 50px;
}
